<%= form_with(model: [ @candidate, @candidate.comments.build ], local: true) do |form| %>
  <p>
    <%= form.label :"Кто комментирует" %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :Комментарий %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit :"Создать комментарий", class: 'btn-sm btn-primary' %>
  </p>
<% end %>