<div style=" padding-bottom: 20px; padding-left: 70px" >
  <%= link_to 'Home', candidates_path, class: 'btn btn-primary'  %>
</div>

<%= form_with(model: candidate, local: true) do |form| %>
  <% if candidate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(candidate.errors.count, "error") %> prohibited this candidate from being saved:</h2>

      <ul>
      <% candidate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="table  table-striped fixedtable" >
    <div class="actions">

      <tr>
        <td   class="col-md-2 left image"><%= form.label :image, "Avatar"%><br>

          <button class="favth-btn">
        <%= form.file_field :image, class: "btn btn-large btn-primary" %>
        <% if form.object.image? %>
            <%= image_tag form.object.image.thumb.url %>

            <%= form.label :remove_image %>
            <%= form.check_box :remove_image %>
        <% end %>
      </button >

        </td>

        <td></td>
      </tr>

    </div>

    <tr>
      <td  class="col-md-2 left"><%= form.label :name %></td>
      <td class="right"><%= form.text_field :name, id: :candidate_name %></td>
    </tr>

    <tr>
      <td  class="col-md-2 left"><%= form.label :description %></td>
      <td class="right"><%= form.text_area :description, id: :candidate_description %></td>  <!--Candidate Desription-->
    </tr>

  </div>
    </div>
    </div>
  </table>


 <div style="padding-left: 25px" class="dropdown show" >

  <% unless current_page?(controller: 'candidates', action: 'new') %>
       <div class="btn btn-large" style="background-color: #99ddd8;" type="button" data-toggle="dropdown"><%= form.select :status, [['В Продаже'], ['В Резерве'], ['Продан']], selected: 'В Продаже' %></div>
  <% end %>
   <b>     - Select group for candidate</b>

 </div>


  <div class="actions" style="text-align: center; ">
    <%= form.submit  class: 'btn btn-large btn-primary' %>
  </div>
<% end %>
