<h1> Товары в резерве: </h1>
<% if @reserveds.present? %>
	
		<table class="table">

      <div style="padding-left: 20px">
        <%= link_to 'Вернуться к каталогу', candidates_path, class: "btn btn-large btn-primary" %>
      </div>
		  <thead>
		    <tr>
		    	<th></th>
		      <th>Название</th>
		      <th>Описание</th>
		      <th>Статус</th>
		    </tr>
		  </thead>
		  <tbody>
		  <% @reserveds.each do |reserved| %>	
		    <tr>
          <td><%= link_to (image_tag reserved.image.thumb.url), candidate_path(reserved) %></td>
		      <td><%= reserved.name %></td>
		      <td><%= reserved.description %></td>
		      <td><%= reserved.status %></td>
		      <td><%= link_to 'Просмотр', candidate_path(reserved), class: 'btn btn-primary' %></td>
		    </tr> 
		  <% end %>     
		  </tbody>


		</table>
  <div style="padding-left: 20px">
    <%= link_to 'Вернуться к каталогу', root_path, class: "btn btn-large btn-primary" %>
  </div>
	<% else %>
	 <h3>You haven't reservered candidates</h3>		
<% end %>


