<!---->


<div style=" padding-bottom: 20px; padding-left: 70px" >
  <%= link_to 'Home', candidates_path, class: 'btn btn-primary'  %>
</div>

<div class="input-group-addon">
  <div id="error_explanation2">

<h1>The Candidate <%= @candidate.name %> </h1>
<p id="notice"><%= notice %></p>

    <h3 ><%= @candidate.name %> </h3>

    <!--<h3>-->
    <!-- Candidates status:--> <%#= @candidat  e.status %>
    <!--</h3>-->

<table class="table  table-striped fixedtable" >

  <div>
  <div>
    <tr>
      <th  id="Show_page_Image";  class="Image_Show col-md-2"><%= image_tag @candidate.image.thumb.url %></th>
      <td></td>
    </tr>
    <tr>
      <td  class="col-md-2 left">Имя Товара:</td>
      <td class="right"><%= @candidate.name %></td>
    </tr>
    <tr>
      <td  class="col-md-2 left">Описание:</td>
      <td class="right"><%= @candidate.description %></td>
    </tr>



    <tr>
      <td  class="col-md-2 left">Статус Товара:</td>
      <td class="right"> <%= @candidate.status %></td>
    </tr>



  </div>
  </div>
</table>



<br>
    <br>

<H3>Добавить комментарий:</H3><br><br>

      <%= render @candidate.comments %>
      <%= render 'comments/form' %>


  </div>
</div>

<div class="actions" style="text-align: center; padding-top: 25px ">
  <%= link_to 'Удалить Товар', @candidate,
            method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary' %> |
<%= link_to 'Редактировать', edit_candidate_path(@candidate), class: 'btn btn-primary' %>
    <p class="actions" style="; text-align: left; padding-top: 0px; padding-left: 25px; ">
      <%= link_to 'Home', candidates_path, class: 'btn btn-primary'  %>
    </p>
</div>

